<div class="container">
  <div class="card">
    <div class="card-body">
      <h2>Add or Generate a new password</h2>
      <form>
        <div class="form-group">
          <label for="examplePlatform">Platform</label>
          <input
            name="platform"
            class="form-control"
            id="examplePlatform"
            aria-describedby="platformHelp"
            placeholder="Ex: Github"
            [(ngModel)]="platform"
            required
          />
          <small id="platformHelp" class="form-text text-muted">We'll never share this info with anyone else.</small>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-info" (click)="buttonGenerateOnClick()">Generate a password</button>
        </div>
        <div class="form-group" style="border-radius: 5px; background-color: #daf4ff; padding: 20px" *ngIf="generateHidden">
          <label for="exampleLength">Length</label>
          <input name="length" type="number" class="form-control" id="exampleLength" aria-describedby="lengthHelp" [(ngModel)]="length" />
          <small id="lengthHelp" class="form-text text-muted">
            Enter the number of characters for the new password (we recommand at least 8)
          </small>
          <div class="form-check mt-3 mb-3">
            <input class="form-check-input" name="specialCh" type="checkbox" id="exampleSecialCharacter" [(ngModel)]="specialCh" />
            <label class="form-check-label" for="exampleSecialCharacter" aria-describedby="specialCharacterHelp">
              Do you want your password to have special caracters?
            </label>
          </div>
          <small id="specialCharacterHelp" class="form-text text-muted">(ex: @!#$%&*)</small>
          <button type="button" class="btn btn-primary" (click)="generate_password()">Generate the new password</button>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            name="password"
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Ex: aefioi#4kndf%ASD"
            [(ngModel)]="password"
            required
          />
        </div>
        <jhi-password-strength-bar [passwordToCheck]="password"></jhi-password-strength-bar>
        <button type="button" class="btn btn-primary" (click)="save_password()">Save</button>
      </form>
    </div>
  </div>
</div>
