<div>
  <div align="center"><h2>Add or Generate a new password</h2></div>
  <div class="card" style="width: 50rem; margin: auto">
    <img class="card-img-top" />
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="examplePlatform">Paltform</label>
          <input
            name="platform"
            class="form-control"
            id="examplePlatform"
            aria-describedby="platformHelp"
            placeholder="Ex: Gtihub"
            [(ngModel)]="platform"
          />
          <small id="platformHelp" class="form-text text-muted">We'll never share this info with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <button type="button" class="btn btn-primary" (click)="buttonGenerateOnClick()">Generate a password</button>
        </div>
        <div class="form-group" *ngIf="generateHidden">
          <label for="exampleLength">Length</label>
          <input name="length" type="number" class="form-control" id="exampleLength" aria-describedby="lengthHelp" [(ngModel)]="length" />
          <small id="lengthHelp" class="form-text text-muted">
            Enter the number of characters for the new password (we recommand at least 8)</small
          >
          <label for="exampleSecialCharacter" aria-describedby="specialCharacterHelp">
            Do you want your password to have special caracters?
          </label>
          <input name="specialCh" type="checkbox" id="exampleSecialCharacter" [(ngModel)]="specialCh" />
          <small id="specialCharacterHelp" class="form-text text-muted">(ex: @!#$%&*)</small>
          <button type="button" class="btn btn-primary" (click)="generate_password()">Generate the new password</button>
        </div>
        <div class="form-group">
          <input
            name="password"
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Ex: aefioi#4kndf%ASD"
            [(ngModel)]="password"
          />
        </div>
        <button type="button" class="btn btn-success" (click)="save_password()">Save</button>
      </form>
    </div>
  </div>
</div>
