<div>
  <h2 id="page-heading" data-cy="UsersPasswordsHeading">
    <span jhiTranslate="smarthack2021App.usersPasswords.home.title">Users Passwords</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="smarthack2021App.usersPasswords.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-users-passwords"
        [routerLink]="['/users-passwords/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="smarthack2021App.usersPasswords.home.createLabel"> Create a new Users Passwords </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="usersPasswords?.length === 0">
    <span jhiTranslate="smarthack2021App.usersPasswords.home.notFound">No usersPasswords found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="usersPasswords && usersPasswords.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="smarthack2021App.usersPasswords.id">Id</span></th>
          <th scope="col"><span jhiTranslate="smarthack2021App.usersPasswords.secret">Secret</span></th>
          <th scope="col"><span jhiTranslate="smarthack2021App.usersPasswords.type">Type</span></th>
          <th scope="col"><span jhiTranslate="smarthack2021App.usersPasswords.platform">Platform</span></th>
          <th scope="col"><span jhiTranslate="smarthack2021App.usersPasswords.user">User</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usersPasswords of usersPasswords; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/users-passwords', usersPasswords.id, 'view']">{{ usersPasswords.id }}</a>
          </td>
          <td>{{ usersPasswords.secret }}</td>
          <td>{{ usersPasswords.type }}</td>
          <td>{{ usersPasswords.platform }}</td>
          <td>
            {{ usersPasswords.user?.id }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/users-passwords', usersPasswords.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/users-passwords', usersPasswords.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(usersPasswords)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
