<div class="container">
  <h2 class="card-title">Add or Generate a new Key</h2>
  <div class="card mb-2">
    <div class="card-body">
      <form>
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01">Type of Key</label>
          <select
            class="browser-default custom-select"
            id="inputGroupSelect01"
            name="type-select"
            [(ngModel)]="inputGroup"
            ngModel
            required
          >
            <option value="AES_128">AES_128</option>
            <option value="AES_192">AES_192</option>
            <option value="AES_256">AES_256</option>
            <option value="Triple_DES">Triple_DES</option>
            <option value="RSA_1024">RSA_1024</option>
            <option value="RSA_2048">RSA_2048</option>
            <option value="ECC">ECC</option>
          </select>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col">
              <label for="platform">Platform</label>
              <input
                type="text"
                class="form-control"
                placeholder="ex. GitHub"
                aria-label="Key Value"
                id="platform"
                name="input key"
                [(ngModel)]="platform"
                required
              />
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col">
              <label for="key_value" style="display: inline">Key Value</label>
              <input
                type="text"
                class="form-control"
                placeholder="ex. y0Xa4w4yHIx8NM5uN7VRyIwgbQhGntpY"
                aria-label="Key Value"
                id="key_value"
                name="key-value"
                [(ngModel)]="keyValue"
                required
              />
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-info" id="generate_button" (click)="generate_key()">Generate Key</button>
        <button type="submit" style="margin-left: auto; float: right" class="btn btn-primary" (click)="save_key()">Save Key</button>
      </form>
    </div>
  </div>
</div>
