<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="usersPasswords">
      <h2 data-cy="usersPasswordsDetailsHeading">
        <span jhiTranslate="smarthack2021App.usersPasswords.detail.title">Users Passwords</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="smarthack2021App.usersPasswords.id">Id</span></dt>
        <dd>
          <span>{{ usersPasswords.id }}</span>
        </dd>
        <dt><span jhiTranslate="smarthack2021App.usersPasswords.secret">Secret</span></dt>
        <dd>
          <span>{{ usersPasswords.secret }}</span>
        </dd>
        <dt><span jhiTranslate="smarthack2021App.usersPasswords.type">Type</span></dt>
        <dd>
          <span>{{ usersPasswords.type }}</span>
        </dd>
        <dt><span jhiTranslate="smarthack2021App.usersPasswords.platform">Platform</span></dt>
        <dd>
          <span>{{ usersPasswords.platform }}</span>
        </dd>
        <dt><span jhiTranslate="smarthack2021App.usersPasswords.user">User</span></dt>
        <dd>
          <span>{{ usersPasswords.user?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/users-passwords', usersPasswords.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
