<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9" *ngIf="account == null">
    <h1 class="display-4"><span jhiTranslate="home.title">Welcome to our crypto keys storage site!</span> (Smarthack 2021)</h1>

    <p style="margin-top: 100px"></p>

    <div [ngSwitch]="account !== null">
      <div>
        <span jhiTranslate="home.signin" class="txt_font">Start now to manage your passwords</span>
        <button class="btn btn-primary btn_style" id="btn_signin" (click)="login()" jhiTranslate="home.btn_signin">Sign In</button>
      </div>

      <div style="margin-top: 8px">
        <span jhiTranslate="home.register" class="txt_font"> You don't have an account yet? </span>
        <button
          class="btn btn-primary btn_style"
          id="btn_registernow"
          routerLink="account/register"
          routerLinkActive="active"
          jhiTranslate="home.btn_register"
        >
          Register Now
        </button>
      </div>
    </div>

    <p style="margin-top: 100px">
      <span jhiTranslate="home.like">If you like our app don't forget to give us a star on</span>
      <a href="https://github.com/surdubob/smarthack2021" target="_blank" rel="noopener noreferrer" jhiTranslate="home.github">GitHub</a>!
    </p>
  </div>
  <div class="col-md-9" *ngIf="account">
    <p class="display-4" jhiTranslate="home.title2" [translateValues]="{ username: account.login }">
      "Hello, {{ account.login }}! Your passwords and keys are:"
    </p>
    <div class="form-inline" style="width: 100%">
      <button class="btn btn-primary btn_style" jhiTranslate="home.btn_password" routerLink="/add-password">"Add a password"</button>
      <button class="btn btn-primary btn_style m-3" jhiTranslate="home.btn_key" routerLink="/add-key">"Add a key"</button>
      <input
        id="search input"
        type="text"
        class="search form-control ml-auto"
        style="margin-right: 0"
        jhiTranslate="home.search"
        placeholder="Search"
        [(ngModel)]="searchString"
        (ngModelChange)="changeSearch()"
      />
    </div>

    <div class="table-responsive">
      <table class="table table-hover" style="margin-top: 50px" id="tabel">
        <thead class="thead-dark">
          <tr>
            <th scope="col"><span jhiTranslate="smarthack2021App.usersPasswords.secret">Secret</span></th>
            <th scope="col"><span jhiTranslate="smarthack2021App.usersPasswords.type">Type</span></th>
            <th scope="col"><span jhiTranslate="smarthack2021App.usersPasswords.platform">Platform</span></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usersPasswords of filteredList">
            <td style="overflow: hidden; max-width: 20rem">
              <span *ngIf="usersPasswords.id == shownId">{{ usersPasswords.secret }}</span>
              <span *ngIf="usersPasswords.id !== shownId">***********</span>
              <button
                *ngIf="usersPasswords.id == shownId"
                (click)="copyMessage(usersPasswords.secret)"
                style="border: 0; border-radius: 5px; background-color: #c3e2ff"
              >
                <i class="fa fa-copy"></i>
              </button>
            </td>
            <td>{{ usersPasswords.type }}</td>
            <td>{{ usersPasswords.platform }}</td>

            <td class="text-right">
              <div class="btn-group">
                <button
                  type="submit"
                  class="btn btn-info btn-sm"
                  data-cy="entityDetailsButton"
                  (click)="shownId == '' ? (shownId = usersPasswords.id) : (shownId = '')"
                >
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                </button>

                <!--                <button-->
                <!--                  type="submit"-->
                <!--                  [routerLink]="['/users-passwords', usersPasswords.id, 'edit']"-->
                <!--                  class="btn btn-primary btn-sm"-->
                <!--                  data-cy="entityEditButton"-->
                <!--                >-->
                <!--                  <fa-icon icon="pencil-alt"></fa-icon>-->
                <!--                  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>-->
                <!--                </button>-->

                <button type="submit" (click)="delete(usersPasswords)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
